body {
  color: var(--primary-text);
  background-color: var(--primary-bcg);

  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.04em;

  // font-family: 'Titan One', cursive; - резервний шрифт для Titan One
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;

  @media screen and (min-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
