// flex styles
%centredFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

%centredColumnFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// link styles
%linkStyles {
  text-decoration: none;
  cursor: pointer;
}

%transitionTransform {
  transition: transform 250ms var(--cubic);
}

%transitionColorStyles {
  transition: color 250ms var(--cubic);
}

%transitionFillStyles {
  transition: fill 250ms var(--cubic);
}

%transitionStrokeStyles {
  transition: stroke 250ms var(--cubic);
}
