
<section class="section">
<p class="text">100% natural</p>
<h2 class="title">products</h2>
<div class="about__card-cream">
    <p class="about__title">ice cream</p>
    <p class="about__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
</div>
<div class="about__card-coffee">
    <p class="about__title">ice coffee</p>
    <p class="about__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
</div>
<div class="about__card-milkshakes">
    <p class="about__title">milkshakes</p>
    <p class="about__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
</div>
</section>
<h2 class="section-heading"></h2>

