<section class="section">
  <div class="container about">
    <p class="section-subtitle">tradition and love</p>
    <h2 class="section-heading">how it’s made?</h2>

    <div class="content">
    <img  class="content-img" src="./images/about/cow.png" alt="cow" width="280px">
    <div class="about">
    <p class="about__primary-text">
    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
    Maecenas eleifend erat at justo fringilla.
    </p>
    <P class="about__text">
    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
    <p class="about__text">Aliquam erat volutpat. Aenean accumsan.</p>
    </P>
    <button class="secondary-btn" type="button">Read more
        <svg class="modal-icon" width="4" height="8">
            <use href="./images/icons-sprite.svg#arrow"></use>
        </svg>
    </button>
    </div>
    </div>
  </div>
</section>
