<section class="section section-about" id="about">
  <div class="container" id="made">
    <p class="section-subtitle">tradition and love</p>
    <h2 class="section-heading section-heading--margin">
      how it&#8217;s made?
    </h2>
    <div class="content">
      <img
        class="img"
        srcset="
          ./images/about/img-desktop/cow-desktop.png     501w,
          ./images/about/img-tablet/cow-tablet.png       336w,
          ./images/about/img-mobile/cow-mobile.png       280w,
          ./images/about/img-desktop/cow-desktop@2x.png 1002w,
          ./images/about/img-tablet/cow-tablet@2x.png    672w,
          ./images/about/img-mobile/cow-mobile@2x.png    560w
        "
        src="./images/about/img-mobile/cow-mobile.png"
        alt="cow"
        sizes="(min-width: 1200px) 501px, (min-width: 767px) 336px, (min-width: 320px) 280px"
      />
      <div class="about">
        <p class="about__primary-text about-wrapper">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="howmade__text about__text moreText">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.<span class="howmade-open about__text moreText">
            Aliquam erat volutpat. Aenean accumsan curabitur lacinia enim at ex
            blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
            imperdiet placerat. Vestibulum euismod nisl suscipit ligula
            volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</span
          >
        </p>
        <div class="about-btn">
          <button class="howmade-btn read-more-btn secondary-btn" type="button">
            Read more
          </button>
          <svg class="secondary-btn__icon" width="8" height="16">
            <use href="images/icons-sprite.svg#arrow"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
