
<section class="contact contact-section section">
  <h2 class="title visually-hidden">Contacts</h2>

  <div class="container">
    
    <div class="contact-box">
    <ul class="contact-list list">
      <li class="contact-list__item">  
        <p class="contact-list__title">CAFE</p>

        <div class="contact-list__thumb contact-list__thumb--city">
          <p class="contact-list__subtitle">Chicago</p>
          <p class="contact-list__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>  
        </div>           

        <div class="contact-list__thumb contact-list__thumb--mode">  
          <p class="contact-list__subtitle">Monday - Friday</p>
          <p class="contact-list__timing">06:00 AM - 10:00 PM</p>
        </div> 

        <div class="contact-list__thumb contact-list__thumb--holiday">             
          <p class="contact-list__subtitle">Saturday - Sunday</p>
          <p class="contact-list__timing">08:00 AM - 16:00 PM</p>    
        </div>      

        <div class="contact-list__thumb contact-list__thumb--navigation">     
          <a class="contact-list__link link" href="tel:+61(0)383766284">tel:+61(0) 383 766 284</a>
          <a
            class="contact-list__link link"
            href="mailto:noreply@envato.com"
          >mailto:noreply@envato.com</a>      
        </div>
      </li>

      <li class="contact-list__item">       
        <p class="contact-list__title contact-list__title--food">FOOD TRUCK</p>

        <div class="contact-list__thumb contact-list__thumb--city"> 
          <p class="contact-list__subtitle">Los Angeles</p> 
          <p class="contact-list__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>  

        <div class="contact-list__thumb contact-list__thumb--mode"> 
          <p class="contact-list__subtitle">Monday - Friday</p>
          <p class="contact-list__timing">06:00 AM - 10:00 PM</p>
        </div>

        <div class="contact-list__thumb contact-list__thumb--holiday">
          <p class="contact-list__subtitle">Saturday - Sunday</p>
          <p class="contact-list__timing">08:00 AM - 16:00 PM</p>
        </div>

        <div class="contact-list__thumb contact-list__thumb--navigation">
          <a class="contact-list__link link" href="tel:+61(0)383766284"
            >tel:+61(0) 383 766 284</a
          >

          <a
            class="contact-list__link link"
            href="mailto:noreply@envato.com"
          >mailto:noreply@envato.com</a>
        </div>
      </li>

      <li class="contact-list__item">
        <p class="contact-list__title">CAFE</p>

        <div class="contact-list__thumb contact-list__thumb--city">
          <p class="contact-list__subtitle">New York</p>
          <p class="contact-list__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>

        <div class="contact-list__thumb contact-list__thumb--mode">
          <p class="contact-list__subtitle">Monday - Friday</p>

          <p class="contact-list__timing">06:00 AM - 10:00 PM</p>
        </div> 

        <div class="contact-list__thumb contact-list__thumb--holiday">
          <p class="contact-list__subtitle">Saturday - Sunday</p>
          <p class="contact-list__timing">08:00 AM - 16:00 PM</p>
        </div>

        <div class="contact-list__thumb contact-list__thumb--navigation">  
          <a class="contact-list__link link" href="tel:+61(0)383766284">tel:+61(0) 383 766 284</a>

          <a
            class="contact-list__link link"
            href="mailto:noreply@envato.com"
          >mailto:noreply@envato.com</a>
        </div>
      </li>
    </ul>

    <ul class="button list">
      <li>
        <a class="btn btn--red link" href="#Locations"
          >Our Locations
          <svg class="btn__arrow btn__arrow--light" width="8" height="10">
            <use href="./images/icons-sprite.svg#arrow-light"></use>
          </svg>
        </a>
      </li>  

      <li>
        <a class="btn btn--white link" href="#Franchise"
          >Franchise
          <svg class="btn__arrow btn__arrow--red" width="8" height="10">
            <use href="./images/icons-sprite.svg#arrow"></use>
          </svg>  
        </a> 
      </li>       
    </ul>  
    </div> 
        
</section>   
 