
<h2 class="visually-hidden">Contacts</h2>
<section class="contact section">
  <div class="container">
  
    <ul class="contact-list">
      <li class="contact-list__item">
        <p class="contact-list__title contact-list__title--cafe">CAFE</p>

        <div class="contact-list__thumb">
          <p class="contact-list__subtitle">Chicago</p>
          <p class="contact-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>

        <div class="contact-list__thumb">
          <p class="contact-list__subtitle">Monday - Friday</p>
          <p class="contact-list__mode">06:00 AM - 10:00 PM</p>
        </div>

        <div class="contact-list__thumb">
          <p class="contact-list__subtitle">Saturday - Sunday</p>
          <p class="contact-list__mode">08:00 AM - 16:00 PM</p>
        </div>

        <div class="contact-nav">
          <a class="contact-nav__link" href="tel:+61(0) 383 766 284"
            >+61(0) 383 766 284</a
          >

          <a class="contact-nav__link" href="mailto:noreply@envato.com">
            noreply@envato.com</a
          >
        </div>
      </li>

      
      <li class="contact-list__item">
        <p class="contact-list__title contact-list__title--food">FOOD TRUCK</p>

        <div class=" contact-list__thumb">
          <p class="contact-list__subtitle">Los Angeles</p>
          <p class="contact-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>

        <div class=" contact-list__thumb">
          <p class="contact-list__subtitle">Monday - Friday</p>
          <p class="contact-list__mode">06:00 AM - 10:00 PM</p>
        
          <p class="contact-list__subtitle">Saturday - Sunday</p>
          <p class="contact-list__mode">08:00 AM - 16:00 PM</p>
        </div>

        <div class="contact-nav">
          <a class="contact-nav__link" href="tel:+61(0) 383 766 284"
            >+61(0) 383 766 284</a
          >

          <a class="contact-nav__link" href="mailto:noreply@envato.com">
            noreply@envato.com</a
          >
        </div>
      </li>
      
      <li class="contact-list__item">
        <p class="contact-list__title contact-list__title--cafe">CAFE</p>

        <div class=" contact-list__thumb">
          <p class="contact-list__subtitle">New York</p>
          <p class="contact-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>

        <div class=" contact-list__thumb">
          <p class="contact-list__subtitle">Monday - Friday</p>
          <p class="contact-list__mode">06:00 AM - 10:00 PM</p>
        </div>

        <div class=" contact-list__thumb">
          <p class="contact-list__subtitle">Saturday - Sunday</p>
          <p class="contact__mode">08:00 AM - 16:00 PM</p>
        </div>

        <div class="contact-nav">
          <a class="contact-nav__link" href="tel:+61(0) 383 766 284"
            >+61(0) 383 766 284</a
          >

          <a class="contact-nav__link" href="mailto:noreply@envato.com">
            noreply@envato.com</a
          >
        </div>
      </li>
    </ul>

    <ul class="button">
      <li>
        <a class="btn btn--red" href="#Locations">Our Locations
          <svg class="btn__arrow btn__arrow--light" width="7" height="12">
            <use href="./images/icons-sprite.svg#arrow">
            </use>
          </svg>
        </a>
      </li>
      <li>
       <a class="btn btn--white" href="#Franchise">Franchise
        <svg class="btn__arrow btn__arrow--red" width="7" height="12">
            <use href="./images/icons-sprite.svg#arrow">
            </use>
          </svg>
       </a>
      </li>
    </ul>
  </div>
</section>
