<!-- Contacts - Дмитро Пушкаренко -->

<h2>Contacts</h2>
<section class="contact">
  <ul class="contact__list">
    <li class="contact__item">
      <p class="contact__title">CAFE</p>

      <div>
        <p class="contact__subtitle">Chicago</p>
        <p class="">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>

      <div>
        <p class="contact__subtitle">Monday - Friday</p>
        <p class="contact__timing">06:00 AM - 10:00 PM</p>
      </div>

      <div>
        <p class="contact__subtitle">Saturday - Sunday</p>
        <p class="contact__timing">08:00 AM - 16:00 PM</p>
      </div>

      <div>
        <a class="nav-contact__link" href="tel:+61(0) 383 766 284"
          >+61(0) 383 766 284</a
        >

        <a class="nav-contact__link" href="mailto:noreply@envato.com">
          noreply@envato.com</a
        >
      </div>
    </li>

    <li class="contact__item">
      <p class="contact__title">FOOD TRUCK</p>

      <div>
        <p class="contact__subtitle">Los Angeles</p>
        <p class="">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>

      <div>
        <p class="contact__subtitle">Monday - Friday</p>
        <p class="contact__timing">06:00 AM - 10:00 PM</p>
      </div>

      <div>
        <p class="contact__subtitle">Saturday - Sunday</p>
        <p class="contact__timing">08:00 AM - 16:00 PM</p>
      </div>

      <div>
        <a class="nav-contact__link" href="tel:+61(0) 383 766 284"
          >+61(0) 383 766 284</a
        >

        <a class="nav-contact__link" href="mailto:noreply@envato.com">
          noreply@envato.com</a
        >
      </div>
    </li>
    <li class="contact__item">
      <p class="contact__title">CAFE</p>

      <div>
        <p class="contact__subtitle">New York</p>
        <p class="">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>

      <div>
        <p class="contact__subtitle">Monday - Friday</p>
        <p class="contact__timing">06:00 AM - 10:00 PM</p>
      </div>

      <div>
        <p class="contact__subtitle">Saturday - Sunday</p>
        <p class="contact__timing">08:00 AM - 16:00 PM</p>
      </div>

      <div>
        <a class="nav-contact__link" href="tel:+61(0) 383 766 284"
          >+61(0) 383 766 284</a
        >

        <a class="nav-contact__link" href="mailto:noreply@envato.com">
          noreply@envato.com</a
        >
      </div>
    </li>
  </ul>

  <ul>
    <li>
      <a href="">
        <button class="btn btn--red" type="button">Our Locations</button>
      </a>
    </li>
    <li>
      <a href="">
        <button class="btn btn--white" type="button">Franchise</button>
      </a>
    </li>
  </ul>
</section>
