
<div class="rev-slider">
        <div class="slider">
            <div class="photo">
                <img src="./libs/img/testimonials1 1.png " alt="testimonials">   
            </div>
            <div class="text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</div>
            <div class="name">Emily, Los Angeles</div>
        </div>
        <div class="slider">
            <div class="photo">
                <img src="./libs/img/testimonials1 1.png " alt="testimonials">   
            </div>
            <div class="text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</div>
            <div class="name">Emily2, Los Angeles</div>
        </div>
        <div class="slider">
            <div class="photo">
                <img src="./libs/img/testimonials1 1.png " alt="testimonials">   
            </div>
            <div class="text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</div>
            <div class="name">Emily3, Los Angeles</div>
        </div>
</div>
