<section class="rev-slider section" id="contacts">
  <h2 class="rev-slider__title visually-hidden">reviews</h2>
  <img
    srcset="
      /src/images/Reviews/testimonials.png     85w,
      /src/images/Reviews/testimonials@2x.png 170w
    "
    class="rev-slider__photo"
    src="/src/images/Reviews/testimonials.png"
    alt="testimonials"
    sizes="(min-width: 1200px) 85px, (min-width: 768px) 85px, (max-width: 767px) 85px, 100vw"
  />
  <div class="container container--rev">
    <div class="container__grad">
      <p class="container__text icon">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
      </p>
    </div>
  </div>

  <h3 class="rev-slider__name icon-el">Emily, Los Angeles</h3>
</section>
