<div class="rev-slider container">
    <h2 class="rev-slider__title visually-hidden">reviews</h2>
    <img
      class="rev-slider__photo"
      src="/src/images/reviews/testimonials1 1.svg"
      alt="testimonials"
    />
    <p class="rev-slider__text">
      "Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
      sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in
      nibh vel risus.
    </p>
    <h3 class="rev-slider__name">Emily, Los Angeles</h3>
  
</div>
