<footer class="container page-footer">
  <p class="section-subtitle page-footer__subtitle">homemade ice cream made</p>
  <p class="section-heading page-footer__title">with passion</p>
  <ul class="social list">
    <li class="social__network">
      <a
        class="social__link link"
        href="https://github.com/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="icon github"
      >
        <svg width="32" height="32">
          <use href="./images/icons-sprite.svg#icon-github"></use>
        </svg>
      </a>
    </li>
    <li class="social__network">
      <a
        class="social__link link"
        href="https://telegram.org/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="icon telegram"
      >
        <svg width="32" height="32">
          <use href="./images/icons-sprite.svg#icon-telegram"></use>
        </svg>
      </a>
    </li>
    <li class="social__network">
      <a
        class="social__link link"
        href="https://www.facebook.com/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="icon facebook"
      >
        <svg width="32" height="32">
          <use href="./images/icons-sprite.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
  </ul>
  <p class="page-footer__text">
    Feel free to contact
    <a href="tel:+610383766284" class="page-footer__text--axent link"
      >+61 (0) 383 766 284</a
    >
  </p>
  <p class="page-footer__text page-footer__text--copyright">
    &#169; 2022 - IceCream.<br />
    All Rights Reserved.
  </p>
</footer>
