<section class="section section--gallery">
  <div
    class="container container--gallery"
    data-aos="fade-up"
    data-aos-duration="800"
  >
    <div class="gallery__column">
      <picture class="gallery__image gallery__image--one">
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/gallery/gallery_1d.png    1x,
            ./images/gallery/gallery_1d@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallery/gallery_1t.png    1x,
            ./images/gallery/gallery_1t@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/gallery/gallery_1m.png    1x,
            ./images/gallery/gallery_1m@2x.png 2x,
            ./images/gallery/gallery_1m@3x.png 3x
          "
          type="image/png"
        />
        <img src="./images/gallery/gallery_1d.png" alt="Green icecream" />
      </picture>
    </div>

    <div class="gallery__column">
      <picture class="gallery__image gallery__image--two">
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/gallery/gallery_2d.png    1x,
            ./images/gallery/gallery_2d@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallery/gallery_2t.png    1x,
            ./images/gallery/gallery_2t@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/gallery/gallery_2m.png    1x,
            ./images/gallery/gallery_2m@2x.png 2x,
            ./images/gallery/gallery_2m@3x.png 3x
          "
          type="image/png"
        />
        <img src="./images/gallery/gallery_2d.png" alt="Rose icecream" />
      </picture>
      <picture class="gallery__image gallery__image--three">
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/gallery/gallery_3d.png    1x,
            ./images/gallery/gallery_3d@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallery/gallery_3t.png    1x,
            ./images/gallery/gallery_3t@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/gallery/gallery_3m.png    1x,
            ./images/gallery/gallery_3m@2x.png 2x,
            ./images/gallery/gallery_3m@3x.png 3x
          "
          type="image/png"
        />
        <img src="./images/gallery/gallery_3d.png" alt="Rose icecreams" />
      </picture>
    </div>

    <div class="gallery__column">
      <picture class="gallery__image gallery__image--four">
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/gallery/gallery_4d.png    1x,
            ./images/gallery/gallery_4d@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallery/gallery_4t.png    1x,
            ./images/gallery/gallery_4t@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/gallery/gallery_4m.png    1x,
            ./images/gallery/gallery_4m@2x.png 2x,
            ./images/gallery/gallery_4m@3x.png 3x
          "
          type="image/png"
        />
        <img src="./images/gallery/gallery_4d.png" alt="Multicolor icecream" />
      </picture>
      <picture class="gallery__image gallery__image--five">
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/gallery/gallery_5d.png    1x,
            ./images/gallery/gallery_5d@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallery/gallery_5t.png    1x,
            ./images/gallery/gallery_5t@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/gallery/gallery_5m.png    1x,
            ./images/gallery/gallery_5m@2x.png 2x,
            ./images/gallery/gallery_5m@3x.png 3x
          "
          type="image/png"
        />
        <img src="./images/gallery/gallery_5d.png" alt="Girl and icecream" />
      </picture>
    </div>

    <div class="gallery__column">
      <picture class="gallery__image gallery__image--six">
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/gallery/gallery_6d.png    1x,
            ./images/gallery/gallery_6d@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallery/gallery_6t.png    1x,
            ./images/gallery/gallery_6t@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/gallery/gallery_6m.png    1x,
            ./images/gallery/gallery_6m@2x.png 2x,
            ./images/gallery/gallery_6m@3x.png 3x
          "
          type="image/png"
        />
        <img src="./images/gallery/gallery_6d.png" alt="White icecream" />
      </picture>
      <picture class="gallery__image gallery__image--seven">
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/gallery/gallery_7d.png    1x,
            ./images/gallery/gallery_7d@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallery/gallery_7t.png    1x,
            ./images/gallery/gallery_7t@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/gallery/gallery_7m.png    1x,
            ./images/gallery/gallery_7m@2x.png 2x,
            ./images/gallery/gallery_7m@3x.png 3x
          "
          type="image/png"
        />
        <img src="./images/gallery/gallery_7d.png" alt="Rote icecream" />
      </picture>
    </div>

    <div class="gallery__column">
      <picture class="gallery__image gallery__image--eight">
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/gallery/gallery_8d.png    1x,
            ./images/gallery/gallery_8d@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallery/gallery_8t.png    1x,
            ./images/gallery/gallery_8t@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/gallery/gallery_8m.png    1x,
            ./images/gallery/gallery_8m@2x.png 2x,
            ./images/gallery/gallery_8m@3x.png 3x
          "
          type="image/png"
        />
        <img src="./images/gallery/gallery_8d.png" alt="Dog and icecream" />
      </picture>
      <picture class="gallery__image gallery__image--nine">
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/gallery/gallery_9d.png    1x,
            ./images/gallery/gallery_9d@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallery/gallery_9t.png    1x,
            ./images/gallery/gallery_9t@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/gallery/gallery_9m.png    1x,
            ./images/gallery/gallery_9m@2x.png 2x,
            ./images/gallery/gallery_9m@3x.png 3x
          "
          type="image/png"
        />
        <img src="./images/gallery/gallery_9d.png" alt="Shoko shake" />
      </picture>
    </div>

    <div class="gallery__column">
      <picture class="gallery__image gallery__image--ten">
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/gallery/gallery_10d.png    1x,
            ./images/gallery/gallery_10d@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallery/gallery_10t.png    1x,
            ./images/gallery/gallery_10t@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/gallery/gallery_10m.png    1x,
            ./images/gallery/gallery_10m@2x.png 2x,
            ./images/gallery/gallery_10m@3x.png 3x
          "
          type="image/png"
        />
        <img src="./images/gallery/gallery_10d.png" alt="Color icecream" />
      </picture>
    </div>
  </div>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</section>
