<section class="section">
  <div class="container products">
    <div class="products">
      <p class="products__label" id="products">100% natural</p>
      <h2 class="products__title">products</h2>
      <ul class="products__list list">
        <li class="products__item-cream" data-aos="fade-right">
          <h3 class="products__name">ice cream</h3>
          <div class="products__desk">
            <p class="products__text-cream">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et

              <span class="products__text--open"
                >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et</span
              >
            </p>
            <picture class="products__arrow">
              <source
                srcset="
                  ./images/products/arrow-right-pr.png    1x,
                  ./images/products/arrow-right-pr@2x.png 2x
                "
                type="image/png"
              />
              <img
                class="desk__img-cream"
                src="./images/products/arrow-right-pr.png"
                alt="arrow"
                width="40"
                height="40"
              />
            </picture>
          </div>
        </li>
        <li class="products__item-coffee" data-aos="zoom-in">
          <h3 class="products__name">ice coffee</h3>
          <div class="products__desk">
            <p class="products__text-coffee">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et

              <span class="products__text--open"
                >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et</span
              >
            </p>
            <picture class="products__arrow">
              <source
                srcset="
                  ./images/products/arrow-right-pr.png    1x,
                  ./images/products/arrow-right-pr@2x.png 2x
                "
                type="image/png"
              />
              <img
                class="desk__img-coffee"
                src="./images/products/arrow-right-pr.png"
                alt="arrow"
                width="40"
                height="40"
              />
            </picture>
          </div>
        </li>
        <li class="products__item-milk" data-aos="fade-left">
          <h3 class="products__name">milkshakes</h3>
          <div class="products__desk">
            <p class="products__text-milk">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et

              <span class="products__text--open"
                >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et</span
              >
            </p>
            <picture class="products__arrow">
              <source
                srcset="
                  ./images/products/arrow-right-pr.png    1x,
                  ./images/products/arrow-right-pr@2x.png 2x
                "
                type="image/png"
              />
              <img
                class="desk__img-milk"
                src="./images/products/arrow-right-pr.png"
                alt="arrow"
                width="40"
                height="40"
              />
            </picture>
          </div>
        </li>
      </ul>
    </div>
    <script src="./js/read-more-cream.js"></script>
    <script src="./js/read-more-coffee.js"></script>
    <script src="./js/read-more-milk.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="./js/animation.js"></script>
  </div>
</section>
