<section class="products section">
  <div class="container">
    <p class="products__label section-subtitle">100% natural</p>
    <h2 class="products__title section-heading">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <h3 class="products__name">ice cream</h3>
        <p class="products__desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="products__btn" type="button">картинка стрелочки</button>
      </li>
      <div class="products-container js-products-container" id="more-one">
        <button class="products-toggle__close js-close-products">
          <!-- <svg class="products-toggle__btn" width="40" height="40">
          <use href=""></use>
        </svg> -->
        </button>
        <p class="products-more">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et
        </p>
      </div>
      <li class="products__item">
        <h3 class="products__name">ice coffee</h3>
        <p class="products__desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="products__btn" type="button">картинка стрелочки</button>
      </li>
      <div class="products-container js-products-container" id="more-two">
        <button class="products-toggle__close js-close-products">
          <!-- <svg class="products-toggle__btn" width="40" height="40">
          <use href=""></use>
        </svg> -->
        </button>
        <p class="products-more">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et
        </p>
      </div>
      <li class="products__item">
        <h3 class="products__name">milkshakes</h3>
        <p class="products__desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="products__btn" type="button">картинка стрелочки</button>
      </li>
      <div class="products-container js-products-container" id="more-three">
        <button class="products-toggle__close js-close-products">
          <!-- <svg class="products-toggle__btn" width="40" height="40">
          <use href=""></use>
        </svg> -->
        </button>
        <p class="products-more">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et
        </p>
      </div>
    </ul>
  </div>
</section>
