.container.about{
    background-color: var(--primary-gradient);
    
}


.content{
    @media screen and (min-width: 768px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
}
.section-heading{
   margin-bottom: 32px;
}

.content-img{
    width: 280px;
    margin-bottom: 40px;

    @media screen and (min-width: 767px) {
            width: 336px;
            margin-right: 32px;
            margin-bottom: 0px;
        }
    @media screen and (min-width: 1200px) {
            width: 501px;
            margin-right: 100px;
            margin-bottom: 0px;
        }
}

.about{

    &__primary-text{
        width: 220px;
        font-size: 12px;
        line-height: 1.58;
        
        color:var(--primary-text);
        margin-bottom: 40px;
        @media screen and (min-width: 768px) {
                width: 334px;
                
            }
        @media screen and (min-width: 1200px) {
                width: 463px;
                
            }
    }

    &__text{
        width: 220px;
        font-size: 12px;
        line-height: 1.58;
        
        color: var(--secondary-text);
        margin-bottom: 20px;

        @media screen and (min-width: 768px) {
                width: 334px;
                
            }
        @media screen and (min-width: 1200px) {
                width: 463px;
                
            }
        
    }
}

.secondary-btn{
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    // display: flex;
    align-items: center;
    text-align: center;
    
    color: var(--secondary-btn-color);
    width: 176px;
    height: 44px;


    background-color: var(--primary-btn);
    
    border-radius: 22px;
}
