// Секция с боксами /////////////////////////
.contact-list {
  display: flex;
  margin-bottom: 60px;

  &__item {
    width: 368px;
    height: 538px;
    padding: 40px;

    background: rgb(255, 255, 255);
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

    &:not(:last-child) {
      margin-right: 32px;
    }
  }
// Зежим работы////////////////////////
  &__mode {
    font-size: 16px;
    line-height: 186%;

    color: #ffa5ba;
  }

  &__text {
    font-size: 16px;
    line-height: 183%;
    letter-spacing: 0.04em;

    color: #907e82;
  }

  &__title {
    width: 75px;
    height: 28px;
    font-size: 16px;
    line-height: 186%;
    margin-bottom: 32px;

    text-align: center;
    letter-spacing: 0.04em;

    border-radius: 5px;

    background-color: var(--coffee-color);
    color: #ffffff;

    &--cafe {
      background-color: var(--coffee-color);
    }
    &--food {
      background-color: var(--shake-color);
    }
  }
}

.contact-nav__link {
  font-size: 16px;
  line-height: 183%;
  color: #907e82;
}
// Секция с кнопками/////////////
.button {
  display: flex;
  justify-content: center;
}

// Кнопка
.btn {
  width: 198px;
  height: 44px;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;

//   стрелочка свг
  &__arrow {
    margin-left: 13px;
 
          &::after {
            border: 2px solid #ffffff;
            fill: #ffffff;
            justify-content: center;
          }
    
  }

  &--red {
    background: #d41342;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    margin-right: 12px;
   
    color: #ffffff;
    

    &::after {
      border: 2px solid #D41443;
      fill: #D41443;
      justify-content: center;
    }
  }

  &--white {
    background: rgba(255, 245, 246, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    justify-content: center;
    color: #d41443;
  }
}
