.rev-slider__photo {
  display: block;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 85px;
  height: 85px;
  background-color: #ffff;

  margin-bottom: 16px;
}

.container--rev {
  position: relative;

  background-color: #fafafa;
  @media screen and (max-width: 767px) {
    padding: 43px 50px 17px 50px;
  }
  @media screen and (min-width: 768px) {
    padding: 37px 55px 44px 50px;
  }
  @media screen and (min-width: 1200px) {
    padding: 47px 109px 31px 109px;
  }
}

.container__grad {
  @media screen and (max-width: 767px) {
    width: 180px;
    height: 248px;
  }

  @media screen and (min-width: 768px) {
    width: 620px;
    height: 62px;
  }

  @media screen and (min-width: 1200px) {
    width: 822px;
    height: 75px;
  }
  margin-left: auto;
  margin-right: auto;

  background: repeating-linear-gradient(
    #fafafa,
    #fafafa 30px,
    #e1e1e1 30px,
    #e1e1e1 31px,
    #fafafa 31px,
    #fafafa 61px,
    #e1e1e1 61px,
    #e1e1e1 62px
  );
}
.container__text {
  @media screen and (max-width: 767px) {
    width: 157px;
    font-size: 12px;
    line-height: 2.55;
  }

  @media screen and (min-width: 768px) {
    width: 514px;
    font-size: 12px;
    line-height: 2.55;
  }
  @media screen and (min-width: 1200px) {
    width: 750px;
    font-size: 16px;
    line-height: 1.86;
  }

  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--primary-text);
}

.container__text::after {
  position: absolute;

  @media screen and (max-width: 767px) {
    top: 10%;
    left: 19%;
    // transform: translate(-50%, -50%);
  }
  @media screen and (min-width: 768px) {
    top: 15%;
    left: 10%;
  }
  @media screen and (min-width: 1200px) {
    top: 20%;
    left: 15%;
  }

  content: '';
  height: 100%;
  width: 100%;
  color: var(--pseudo-color);
  display: block;
  background-repeat: no-repeat;
}
.icon::after {
  background-image: url(/src/images/Reviews/“.svg);
}

.rev-slider__name::before {
  position: relative;
  left: 50%;
  content: '';
  height: 4px;
  color: #c7133e;
  display: block;
  background-repeat: no-repeat;
  margin-top: 16px;
}
.icon-el::before {
  background-image: url(/src/images/Reviews/Ellipse.svg);
}

.rev-slider__name {
  font-size: 20px;
  line-height: 1.86;
  text-align: center;

  color: var(--primary-text);
}
