.review-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 32px;
  @media screen and (min-width: 768px) {
    padding-left: 80px;
    padding-right: 80px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 116px;
    padding-right: 116px;
  }
}

.rev-slider__photo {
  width: 85px;
  height: 85px;

  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 16px;
  }
}

.container--rev {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;

  background-color: #fafafa;
  @media screen and (max-width: 767px) {
    padding: 43px 50px 17px 50px;
  }
  @media screen and (min-width: 768px) {
    padding: 20px 6px 0 6px;
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1200px) {
    width: 968px;

    padding: 32px 72px;
    margin-bottom: 36px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.container__grad {
  display: flex;
  justify-content: center;
  position: relative;

  @media screen and (max-width: 767px) {
    width: 180px;
    height: 248px;
  }

  @media screen and (min-width: 768px) {
    width: 608px;
    height: 108px;
  }

  @media screen and (min-width: 1200px) {
    width: 822px;
    height: 75px;
  }

  background: repeating-linear-gradient(
    #fafafa,
    #fafafa 30px,
    #e1e1e1 30px,
    #e1e1e1 31px,
    #fafafa 31px,
    #fafafa 61px,
    #e1e1e1 61px,
    #e1e1e1 62px
  );
}
.container__text {
  text-align: center;
  z-index: 200;
  @media screen and (max-width: 767px) {
    width: 157px;
    font-size: 12px;
    line-height: 2.58;
  }

  @media screen and (min-width: 768px) {
    width: 514px;
    font-size: 14px;
    line-height: 2.14;
  }
  @media screen and (min-width: 1200px) {
    width: 750px;
    font-size: 16px;
    line-height: 1.88;
  }
}

.container__text::after {
  position: absolute;
  top: -14px;
  left: -6px;

  @media screen and (min-width: 768px) {
    left: 5px;
  }
  @media screen and (min-width: 1200px) {
    left: -4px;
  }
  content: '';
  z-index: 0;
  height: 40px;
  width: 54px;
  color: var(--pseudo-color);
  display: block;
  // background-repeat: no-repeat;
}
.icon::after {
  background-image: url(/src/images/reviews/“.svg);
}

.rev-slider__name {
  position: relative;
  font-size: 14px;
  line-height: 1.86;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: 1.85;
  }

  text-align: center;
  color: var(--primary-text);
  // margin-bottom: 32px;
}

.rev-slider__name::before {
  position: absolute;
  left: 50%;
  top: -16px;
  content: '';
  height: 4px;
  width: 32px;
  display: block;

  transform: translateX(-50%);
}

.icon-el::before {
  background-image: url(/src/images/reviews/rev.svg);
}

.rev-slider__name::after {
  position: absolute;
  left: 50%;
  bottom: -16px;
  content: '';
  height: 12px;
  width: 72px;
  display: block;

  @media screen and (min-width: 768px) {
    bottom: -32px;
  }
  transform: translateX(-50%);
}

.icon-el::after {
  background-image: url(/src/images/reviews/dots.svg);
}
