.page-footer {
    position: relative;
    background-color: var(--primary-gradient);
    padding-top: 10px;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    @media screen and (min-width: 1200px) {
        padding-top: 60px;
    }
    
    &__subtitle {
        margin-bottom: 16px;
        @media screen and (min-width: 768px) {
                margin-bottom: 12px;
            }
        text-align: left;
    }

    &__title {
        text-align: left;
        @media screen and (max-width: 767px) {
            margin-bottom: 40px;
            width: 200px;
        }
    }
}

.page-footer__text {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 12px;
    line-height: 1.83;
    text-align: right;

    &--copyright {
        margin-top: 56px;
        margin-bottom: 3px;
        font-size: 14px;
        line-height: 1.5;    
        text-align: center;
        color: var(--secondary-text);

        @media screen and (min-width: 768px) {
            margin-top: 48px;
            margin-bottom: 8px;
            line-height: 1.86;
            letter-spacing: 0.02em;
        }
                @media screen and (min-width: 1200px) {
                    margin-top: 67px;
                    margin-bottom: 4px;
                }
        
        @media screen and (max-width: 767.98px) {
            margin-left: auto;
            margin-right: auto;
            width: 160px;
        }
    }
    &--axent {
        color: var(--accent-color);
    }
    &::after {
        display: inline-block;
        position: absolute;
        content: "";
        width: 320px;
        height: 1px;
        bottom: 61px;
        left: 0;
        @media screen and (min-width: 768px) {
            width: 768px;
            bottom: 42px;
        }
        @media screen and (min-width: 1200px) {
            width: 1167px;
            bottom: 37px;
            left: 17px;
        }
        
        background: var(--pseudo-color);
    }
}

.social {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
    
    &__network {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 32px;
        height: 32px;
        
        &:not(:last-child) {
            margin-right: 28.24px;
        }
    }
    &__link {
        @extend %linkStyles;
        @extend %transitionFillStyles;
    }
    
    &__link:hover,
    &__link:focus {
        --social-color1: var(--accent-color);
    } 
}

.container-title {
    @media screen and (min-width: 768px) {
        width: 340px;
        margin-right: 128px;
    }
    @media screen and (min-width: 1200px) {
        width: 477px;
        margin-right: 375px;
    }
}
.container-socials {
    @media screen and (min-width: 768px) {
        text-align: right;
        padding-top: 60px;
    }
    @media screen and (min-width: 1200px) {
        padding-top: 0;
    }
}