h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding-left: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.hero {
  position: relative;
  height: 502px;
  min-width: 320px;
  max-width: 480px;
  background-color: #ffb8ca;
  //   padding-top: 83px;

  @media (min-width: 768px) {
    height: 416px;
    max-width: 768px;
  }
  @media (min-width: 1280px) {
    height: 664px;
    max-width: 1280px;
  }
}

.hero__img-ellipse {
  position: absolute;
  top: 83px;
  width: 284px;
  height: 344px;

  @media (min-width: 768px) {
    top: 43px;
    left: 248px;
    width: 335px;
    height: 333px;
  }
  @media (min-width: 1280px) {
    width: 534px;
    height: 534px;
    // left: 517px;
    left: 557px;
    top: 54px;
  }
}
.hero__img-icecream {
  position: absolute;
  bottom: 0;
  //   left: 277px;
  z-index: 10;
  right: 32px;
  width: 171px;
  height: 410px;

  @media (min-width: 768px) {
    left: 322px;
    width: 143px;
    height: 336px;
  }
  @media (min-width: 1280px) {
    width: 236px;
    height: 557px;
    // left: 636px;
    left: 676px;
    bottom: 0;
  }
}
.hero__img-girl {
  @media (max-width: 767.98px) {
    display: none;
  }
  @media (min-width: 768px) {
    position: absolute;
    bottom: 0;
    left: 546px;
    width: 190px;
    height: 150px;
  }
  @media (min-width: 1280px) {
    width: 304px;
    height: 241px;
    // left: 880px;
    left: 920px;
  }
}
.hero__img-milk {
  @media (max-width: 767.98px) {
    display: none;
  }
  @media (min-width: 768px) {
    position: absolute;
    left: 32px;
    top: 246px;
    width: 152px;
    height: 154px;
  }
  @media (min-width: 1280px) {
    width: 213px;
    height: 216px;
    // left: 16px;
    left: 56px;
    top: 388px;
  }
}

.hero__thumb {
  position: absolute;
  top: 194px;
  left: 32px;
  z-index: 20;
  width: 218px;

  @media (min-width: 768px) {
    top: 102px;
    width: 162px;
  }
  @media (min-width: 1280px) {
    // left: 16px;
    left: 56px;
    top: 147px;
    width: 277px;
  }
}
.hero__title {
  font-family: 'Titan One', sans-serif;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 400;

  @media (min-width: 768px) {
    font-size: 22px;
  }
  @media (min-width: 1280px) {
    font-size: 38px;
  }
}
.hero__title--pink {
  color: #d41443;
  font-size: 48px;
  line-height: 1.15;

  @media (min-width: 768px) {
    font-size: 34px;
    line-height: 0.9;
  }
  @media (min-width: 1280px) {
    font-size: 58px;
  }
}
.button__link {
  display: flex;
}
.button {
  display: block;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  border-radius: 20px;
  border: none;
  letter-spacing: 0.04em;
  cursor: pointer;

  @media (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.3;
  }
}

.button__item + .button__item {
  margin-left: 8px;

  @media (min-width: 1280px) {
    margin-left: 12px;
  }
}

.button--pink {
  background-color: #d41443;
  color: #ffffff;
  padding: 7px 13.3px;

  &:hover,
  &:focus {
    background-color: #e17992;
  }

  @media (min-width: 1280px) {
    padding: 10.9px 22.16px;
  }
}
.button--white {
  background-color: #fff;
  color: #d41443;
  padding: 7px 11.3px;

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }

  @media (min-width: 1280px) {
    padding: 10.9px 16.36px;
  }
}

.hero-desk {
  @media (max-width: 767.98px) {
    display: none;
  }
  @media (min-width: 768px) {
    position: absolute;
    top: 287px;
    left: 184px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 114px;
  }
  @media (min-width: 1280px) {
    // left: 229px;
    left: 269px;
    top: 456px;
    width: 200px;
  }
}
.hero-text {
  @media (min-width: 768px) {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    color: #ffffff;
    margin-bottom: 7px;
  }
  @media (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.43;
  }
}
.desk__img-arrow {
  @media (min-width: 1280px) {
    width: 26px;
    height: 26px;
  }
}

.stat {
  @media (max-width: 767.98px) {
    display: none;
  }
  @media (min-width: 768px) {
    position: absolute;
    top: 94px;
    left: 693px;
  }
  @media (min-width: 1280px) {
    // left: 1112px;
    left: 1152px;
  }
}
.stat__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 17px;
}
.stat--big {
  font-family: 'Titan One', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  z-index: 10;

  @media (min-width: 1280px) {
    font-size: 46px;
  }
}

.stat--smol {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  color: #ffffff;

  @media (min-width: 1280px) {
    font-size: 14px;
  }
}
.stat__img-ell {
  position: absolute;
  top: -3px;
  right: -7.3px;
  width: 18px;
  height: 18px;

  @media (min-width: 1280px) {
    width: 30px;
    height: 30px;
    top: -7px;
    right: -12px;
  }
}
