// .hero-container {
//   position: relative;
//   top: -82px;
//   height: 502px;
//   max-width: 320px;
//   // max-width: 480px;
//   // background-color: var(--secondary-bcg);
//   overflow: hidden;
//   margin: 0 auto;

//   @media (min-width: 768px) {
//     height: 416px;
//     max-width: 768px;
//   }
//   @media (min-width: 1200px) {
//     height: 664px;
//     max-width: 1200px;
//     // top: -82px;
//   }
// }
.header-container {
  position: relative;
  height: 502px;
  width: 320px;
  background-color: var(--secondary-bcg);
  // max-width: 480px;

  margin: 0 auto;

  @media (max-width: 767.98px) {
    padding-left: 20px;
    padding-top: 8px;
  }

  @media (min-width: 768px) {
    height: 416px;
    width: 768px;
    padding: 32px 32px 0 32px;
  }
  @media (min-width: 1200px) {
    height: 664px;
    width: 1200px;
    padding: 32px 16px 0 16px;
    overflow: hidden;
  }
}

.hero__img-ellipse {
  position: absolute;
  // top: 83px;
  width: 284px;
  height: 344px;
  // right: 0;
  @media (max-width: 767.98px) {
    top: 83px;
    right: 0;
  }

  @media (min-width: 768px) {
    top: 43px;
    left: 248px;
    width: 335px;
    height: 333px;
  }
  @media (min-width: 1200px) {
    width: 534px;
    height: 534px;
    left: 517px;
    // left: 557px;
    top: 54px;
  }
}
.hero__img-icecream {
  // position: absolute;
  bottom: 0;
  //   left: 277px;
  z-index: 10;
  width: 171px;
  height: 410px;
  animation: fade-bottom-to-top 1.5s;

  @media (max-width: 767.98px) {
    right: 32px;
  }

  @media (min-width: 768px) {
    left: 322px;
    width: 143px;
    height: 336px;
  }
  @media (min-width: 1200px) {
    width: 236px;
    height: 557px;
    left: 636px;
    // left: 676px;
    bottom: 0;
  }
}
.hero__img-girl {
  @media (max-width: 767.98px) {
    display: none;
  }
  @media (min-width: 768px) {
    position: absolute;
    bottom: 0;
    left: 546px;
    width: 190px;
    height: 150px;
  }
  @media (min-width: 1200px) {
    width: 304px;
    height: 241px;
    left: 880px;
    transition: transform 1s;
    // left: 920px;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.hero__img-milk {
  @media (max-width: 767.98px) {
    display: none;
  }
  @media (min-width: 768px) {
    position: absolute;
    left: 32px;
    top: 246px;
    width: 152px;
    height: 154px;
    transition: transform 1s;
  }
  @media (min-width: 1200px) {
    width: 213px;
    height: 216px;
    left: 16px;
    // left: 56px;
    top: 388px;
  }

  &:hover {
    transform: scale(1.2);
  }
}

.hero__thumb {
  position: absolute;
  top: 194px;
  left: 32px;
  z-index: 20;
  width: 218px;

  @media (min-width: 768px) {
    top: 102px;
    width: 162px;
  }
  @media (min-width: 1200px) {
    left: 16px;
    // left: 56px;
    top: 147px;
    width: 277px;
  }
}
.hero__title {
  font-family: 'Titan One', sans-serif;
  margin-bottom: 20px;
  color: var(--header-hero-text);
  font-size: 26px;
  line-height: 1.15;
  text-transform: uppercase;
  font-weight: 400;

  @media (min-width: 768px) {
    font-size: 22px;
  }
  @media (min-width: 1200px) {
    font-size: 38px;
  }
}
.hero__title--pink {
  color: var(--accent-color);
  font-size: 48px;
  line-height: 1.15;

  @media (min-width: 768px) {
    font-size: 34px;
    line-height: 0.9;
  }
  @media (min-width: 1200px) {
    font-size: 58px;
  }
}
.ref {
  display: flex;
  cursor: pointer;
  margin: 0;
  padding-left: 0;
  list-style: none;

  &__list {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    border-radius: 20px;
    border: none;
    // text-decoration: none;

    @media (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.3;
    }
  }

  &__item + &__item {
    margin-left: 8px;

    @media (min-width: 1200px) {
      margin-left: 12px;
    }
  }
}

.ref__list--pink {
  background-color: var(--accent-color);
  color: var(--header-hero-text);
  padding: 7px 13.3px;
  transition: background-color 300ms var(--cubic);

  &:hover,
  &:focus {
    background-color: var(--mob-menu-color);
  }

  @media (min-width: 1200px) {
    padding: 10.9px 22.16px;
  }
}
.ref__list--white {
  background-color: var(--primary-bcg);
  color: var(--accent-color);
  padding: 7px 11.3px;
  transition: background-color 300ms var(--cubic);

  &:hover,
  &:focus {
    background-color: var(--hover-btn-primary);
  }

  @media (min-width: 1200px) {
    padding: 10.9px 16.36px;
  }
}

.deskription {
  @media (max-width: 767.98px) {
    display: none;
  }
  @media (min-width: 768px) {
    position: absolute;
    top: 287px;
    left: 184px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 114px;
  }
  @media (min-width: 1200px) {
    left: 229px;
    // left: 269px;
    top: 456px;
    width: 199px;
  }
}
.hero-text {
  @media (min-width: 768px) {
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--header-hero-text);
    margin-bottom: 7px;
    height: 48px;
    overflow: hidden;
    transition: height 350ms var(--cubic);
  }
  @media (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.43;
    height: 76px;
  }
}
.hero-text--open {
  color: var(--header-hero-text);
}
.hero-open {
  @media (min-width: 768px) {
    height: 94px;
  }
  @media (min-width: 1200px) {
    height: 160px;
  }
}
.desk__img-arrow {
  @media (min-width: 1200px) {
    width: 26px;
    height: 26px;
    cursor: pointer;
  }
}

.stat {
  // margin: 0;
  // padding-left: 0;
  @media (max-width: 767.98px) {
    display: none;
  }
  @media (min-width: 768px) {
    position: absolute;
    top: 94px;
    left: 693px;
    left: 678px;
  }
  @media (min-width: 1200px) {
    top: 156px;
    // left: 1112px;
    right: 34px;
    // left: 1152px;
  }
}
.stat__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 17px;
}
.stat__item--big {
  font-family: 'Titan One', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--accent-color);
  z-index: 10;

  @media (min-width: 1200px) {
    font-size: 46px;
  }
}

.stat__item--smol {
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  color: var(--header-hero-text);

  @media (min-width: 1200px) {
    font-size: 14px;
  }
}
.stat__img-ell {
  position: absolute;
  top: -3px;
  right: -7.3px;
  width: 18px;
  height: 18px;

  @media (min-width: 1200px) {
    width: 30px;
    height: 30px;
    top: -7px;
    right: -12px;
  }
}

@keyframes fade-bottom-to-top {
  from {
    transform: translateY(300px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map {
  z-index: 8;
  text-decoration: none;
}

.over {
  overflow: hidden;
  // width: 236px;
  // height: 557px;
  // border: 1px solid red;
  position: absolute;
  bottom: 0;
  //   left: 277px;
  z-index: 10;

  @media (max-width: 767.98px) {
    bottom: 0;
    right: 32px;
  }
  @media (min-width: 768px) {
    left: 322px;
    width: 143px;
    height: 336px;
  }
  @media (min-width: 1200px) {
    width: 236px;
    height: 557px;
    left: 636px;
    // left: 676px;
    bottom: 0;
  }
}
