.container.products {
  background-color: var(--primary-bcg);
}

.products__label {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;

  text-align: center;
  text-transform: uppercase;

  color: var(--pink-color);

  margin-bottom: 15px;

  @media screen and(min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }

  @media screen and(min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products__title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;

  text-align: center;
  text-transform: uppercase;

  margin-bottom: 8px;

  color: var(--accent-color);

  @media screen and(min-width: 768px) {
    font-size: 48px;
    line-height: 1.14;

    margin-bottom: 20px;
  }

  @media screen and(min-width: 1200px) {
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.06em;
  }
}

.products__list {
  @media screen and(min-width: 768px) {
    display: flex;
  }
}

.products__arrow {
  cursor: pointer;
}

.products__item-cream,
.products__item-coffee,
.products__item-milk {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 140px;
  padding-bottom: 40px;

  width: 280px;

  border-radius: 24px;
}

.products__item-cream {
  background: var(--secondary-bcg);

  &::before {
    content: '';
    background-image: url('../images/products/cream-mob.png');
    background-size: contain;
    background-repeat: no-repeat;

    @media only screen and (min-device-pixel-ratio: 2),
      only screen and (min-resolution: 192dpi),
      only screen and(min-resolution: 2dppx) {
      background-image: url('../images/products/cream-mob@2x.png');
    }

    position: absolute;

    width: 280px;
    height: 280px;

    top: -140px;
    left: 0;

    @media screen and(min-width: 768px) {
      content: '';
      background-image: url('../images/products/cream-tab.png');

      @media only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi),
        only screen and(min-resolution: 2dppx) {
        background-image: url('../images/products/cream-tab@2x.png');
      }

      width: 224px;
      height: 224px;

      left: 0;
    }

    @media screen and(min-width: 1200px) {
      content: '';
      background-image: url('../images/products/cream-des.png');

      @media only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi),
        only screen and(min-resolution: 2dppx) {
        background-image: url('../images/products/cream-des@2x.png');
      }

      width: 368px;
      height: 394px;

      top: -265px;
      left: 0;
    }
  }

  @media screen and(min-width: 768px) {
    width: 224px;
    margin-right: 16px;
  }

  @media screen and(min-width: 1200px) {
    width: 368px;
    margin-right: 32px;
    margin-top: 281px;
    padding-bottom: 60px;
  }
}

.products__item-coffee {
  background: var(--coffee-color);

  &::before {
    content: '';
    background-image: url('../images/products/coffee-mob.png');
    background-size: contain;
    background-repeat: no-repeat;

    @media only screen and (min-device-pixel-ratio: 2),
      only screen and (min-resolution: 192dpi),
      only screen and(min-resolution: 2dppx) {
      background-image: url('../images/products/coffee-mob@2x.png');
    }

    position: absolute;

    width: 280px;
    height: 280px;

    top: -140px;

    @media screen and(min-width: 768px) {
      content: '';
      background-image: url('../images/products/coffee-tab.png');

      @media only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi),
        only screen and(min-resolution: 2dppx) {
        background-image: url('../images/products/coffee-tab@2x.png');
      }

      width: 224px;
      height: 224px;

      left: 0;
    }

    @media screen and(min-width: 1200px) {
      content: '';
      background-image: url('../images/products/coffee-des.png');

      @media only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi),
        only screen and(min-resolution: 2dppx) {
        background-image: url('../images/products/coffee-des@2x.png');
      }

      width: 368px;
      height: 394px;

      top: -265px;
      left: 0;
    }
  }

  @media screen and(min-width: 768px) {
    width: 224px;
    margin-right: 16px;
  }

  @media screen and(min-width: 1200px) {
    width: 368px;
    margin-right: 32px;
    margin-top: 281px;
    padding-bottom: 60px;
  }
}

.products__item-milk {
  background: var(--shake-color);

  &::before {
    content: '';
    background-image: url('../images/products/milk-mob.png');
    background-size: contain;
    background-repeat: no-repeat;

    @media only screen and (min-device-pixel-ratio: 2),
      only screen and (min-resolution: 192dpi),
      only screen and(min-resolution: 2dppx) {
      background-image: url('../images/products/milk-mob@2x.png');
    }

    position: absolute;

    width: 280px;
    height: 280px;

    top: -140px;

    @media screen and(min-width: 768px) {
      content: '';
      background-image: url('../images/products/milk-tab.png');

      @media only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi),
        only screen and(min-resolution: 2dppx) {
        background-image: url('../images/products/milk-tab@2x.png');
      }

      width: 224px;
      height: 224px;

      left: 0;
    }

    @media screen and(min-width: 1200px) {
      content: '';
      background-image: url('../images/products/milk-des.png');

      @media only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi),
        only screen and(min-resolution: 2dppx) {
        background-image: url('../images/products/milk-des@2x.png');
      }

      width: 368px;
      height: 394px;

      top: -265px;
      left: 0;
    }
  }

  @media screen and(min-width: 768px) {
    width: 224px;
  }

  @media screen and(min-width: 1200px) {
    width: 368px;
    margin-top: 281px;
    padding-bottom: 60px;
  }
}

.products__name {
  position: relative;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;

  text-align: center;

  text-transform: uppercase;

  color: var(--header-hero-text);

  padding-top: 160px;
  margin-bottom: 70px;

  &::before {
    content: url(../images/products/dots.png);

    position: absolute;

    width: 26px;
    height: 6px;

    left: 50%;
    bottom: -25px;

    transform: translate(-50%, -50%);
  }

  @media screen and(min-width: 768px) {
    padding-top: 118px;
  }

  @media screen and(min-width: 1200px) {
    padding-top: 165px;

    font-size: 30px;
    line-height: 1.13;
  }
}

.products__desk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 200px;

  @media screen and(min-width: 768px) {
    width: 160px;
  }

  @media screen and(min-width: 1200px) {
    width: 241px;
  }
}

.products__text-cream,
.products__text-coffee,
.products__text-milk {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;

  text-align: center;

  margin-bottom: 32px;

  color: var(--header-hero-text);

  height: 124px;
  overflow: hidden;
  transition: height 350ms var(--cubic);

  @media screen and(min-width: 1200px) {
    font-size: 16px;
    line-height: 1.76;

    height: 120px;
    margin-bottom: 60px;
  }
}

.open {
  height: 220px;

  @media screen and(min-width: 768px) {
    height: 250px;
  }
}
